/* Google Fonts */

@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
/* Global */

html {
  min-height: 100%;
  overflow: hidden;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
}

body {
  height: calc(100vh - 8em);
  padding: 4em;
  color: #ff5000;
  font-family: 'Rounded Mplus 1c';
  background-color: #fff;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 1px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-weight: bold;
}

h3 {
  margin: 0;
  padding: 0;
}

#section-2 h3 {
  font-size: 1.7em;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
}

#section-3 h3 {
  font-size: 1.7em;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
}

#section-4 h3 {
  font-size: 1.7em;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
}

#section-5 h3 {
  font-size: 3.8em;
  padding-left: 0px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

li {
  list-style-type: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.topic-underline {
  background-color: #ff5500;
  width: 10px;
  height: 3px;
  margin: 12px 0;
}

.name-label {
  position: relative;
  top: 50%;
  margin: 0 auto;
  border-right: 2px solid #ff5000;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  transform: translateY(-50%);
  font-weight: bold;
}

.scroll-down-label {
  position: relative;
  top: 50%;
  margin: 0 auto;
  font-size: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  color: #D3D3D3;
}

.container {
  max-width: 1000px !important;
}

#section-0 {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

#section-1-container {
  height: 100%;
}

#section-1 * {
  color: black;
}

#section-1 {
  #profile-image {
    min-height: 200px;
    height: 100%;
    padding: 60px 20px;
  }
  #profile-container {
    height: 100%;
    .container {
      width: 100% !important;
    }
  }
}

#section-1 #profile-image img {
  width: 100%;
  max-width: 360px;
}

#profile-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.flight-description {
  text-align: center;
  padding: 80px 0 0 0;
  color: black;
}

.flight-image-container {
  & img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 0 12px;
  }
}

.webdev-description {
  text-align: center;
  padding: 60px 0 0 0;
  color: black;
}

.webdev-image-container {
  #hidden-img-helper {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: auto;
    visibility: hidden;
  }
  position: relative;
}

.webdev-mac-images-root {
  display: block;
  margin: auto;
  max-width: 400px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  img {
    width: 100%; // display: block;
    position: absolute;
  }
  .need-animate-appear {
    opacity: 0;
  }
}

.need-animate-move-up {
  opacity: 0;
  transition-duration: 1.25s;
  transition-timing-function: ease-out;
  transform: translateY(200px);
  transition-delay: 0;
}

.did-animate-move-up {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.need-animate-flight-ticket {
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translateX(calc(-50vw));
  transition-delay: 0;
}

.wiggle-infinitely {
  /* transform: rotateZ(-12deg); */
  /* transition: 0.2s; */
  animation: wiggle 2s ease infinite forwards;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(-12deg);
  }
  /* 25% {
    transform: rotateZ(-15deg);
  } */
  50% {
    transform: rotateZ(12deg);
  }
  100% {
    transform: rotateZ(-12deg);
  }
}

.did-animate-flight-ticket {
  opacity: 1;
  transform: translateX(0) rotateZ(-12deg);
  -webkit-transform: translateX(0) rotateZ(-12deg);
}

.skill-images {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .skill-image-container {
    flex: 33.33%;
    position: relative;
    @media only screen and (max-width: 700px) {
      flex: 100%;
    }
  }
}

.skill-image-container img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: auto;
}

#section-2 .skill-description {
  text-align: center;
  color: black;
  padding: 30px 0;
}

#section-6 h2 {
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

@-webkit-keyframes moveUp {
  0% {}
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {}
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/*smartphone*/

@media only screen and (max-width:700px) {
  #section-2 h3 {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  #section-3 h3 {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  #section-4 h3 {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  #section-6 h2 {
    font-size: 1.3em;
    text-align: center;
  }
}

/* Larger than tablet */

@media only screen and (min-width: 700px) {
  #section-1-container .row {
    height: 100%;
  }
  #section-1 #profile-image img {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #profile-content>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }
}

#root-grid-container {
  // max-width: 960px;
  max-width: 80%;
  margin: 0 auto;
  z-index: -1;
  overflow: visible;
  @media only screen and (max-width: 700px) {
    max-width: 100%;
  }
}

#grid-section-container {
  display: grid; // max-height: 100vh;
  position: relative;
  z-index: 0;
  overflow: visible;
}

.base-grid-item {
  font-size: initial;
  box-sizing: border-box;
  position: relative; // &:hover {
  //   background-color: blue;
  // }
}

#inner-grid {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  max-height: 100vh;
  overflow: visible;
  z-index: 1;
  display: grid;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#inner-grid-text {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  @media only screen and (max-width: 700px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 18;
    grid-row-end: 19;
    visibility: hidden;
  }
}

.inner-base-grid-item {
  font-size: initial;
  box-sizing: border-box;
  position: relative;
  opacity: 0.5;
  transition: opacity 0.3s, transform 0.3s ease-in;
  &:hover {
    opacity: 1.0;
    transform: scale(1.2, 1.2);
  }
}

.town-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #0A2342, #283E51);
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    /* to keep proportions */
    height: auto;
    /* to keep proportions */
    max-width: 100%;
    /* not to stand out from div */
    // max-height: 60%;
    /* not to stand out from div */
    margin: auto auto 0;
    /* position to bottom and center */
    min-height: 200px;
    object-fit: cover;
  }
}

.falling-star {
  z-index: 9;
  width: 190px;
  height: 2px;
  background: linear-gradient( 135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  border-radius: 50%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: falling;
  animation-timing-function: cubic-bezier(0.33, 0.19, 0.26, 1.3); // top: -70px;
  top: -18%;
  transform: rotate(-45deg) translate3d(0, 0, 0);
  will-change: transform, width, opacity;
  &:nth-of-type(1) {
    // right: 40px;
    right: 10%;
    animation-delay: 3.2s;
  }
  &:nth-of-type(2) {
    // right: 200px;
    right: 50%;
    animation-delay: 6s;
    animation-iteration-count: 4;
  }
  &:nth-of-type(3) {
    // right: -180px;
    right: -40%;
    animation-duration: 3s;
    animation-delay: 1.8s;
  }
}

@keyframes falling {
  60%,
  100% {
    transform: rotate(-40deg) translate3d(-560px, 0, 0);
    opacity: 0.5;
    width: 0;
  }
}

.town-container .town-text {
  position: absolute;
  top: calc((100vh - 100vw*(0.32))/2);
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}