/* Google Fonts */

@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
/* Global */

html {
  min-height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  height: calc(100vh - 8em);
  padding: 4em;
  color: #ff5000;
  font-family: 'Rounded Mplus 1c';
  background-color: #fff;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-weight: bold;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

li {
  list-style-type: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.topic-underline {
  background-color: #ff5500;
  width: 10px;
  height: 3px;
  margin: 12px 0;
}

.name-label {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid #ff5000;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.scroll-down-label {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  font-size: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  color: #D3D3D3;
}

.container {
  max-width: 1000px !important;
}

#section-0 {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

#section-1-container {
  height: 100%;
}

#section-1 * {
  color: black;
}

#section-1 {
  #profile-image {
    min-height: 200px;
    height: 100%;
    padding: 60px 20px;
  }
  #profile-container {
    height: 100%;
    .container {
      width: 100% !important;
    }
  }
}

#section-1 #profile-image img {
  width: 100%;
  max-width: 360px;
}

#profile-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.flight-description {
  text-align: center;
  padding: 80px 0 0 0;
  color: black;
}

.flight-image-container {
  & img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 0 12px;
  }
}

.webdev-description {
  text-align: center;
  padding: 80px 0 0 0;
  color: black;
}

.webdev-image-container img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.need-animate-move-up {
  opacity: 0;
  transition-duration: 1.25s;
  transition-timing-function: ease-out;
  transform: translateY(200px);
  transition-delay: 0;
}

.did-animate-move-up {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.need-animate-flight-ticket {
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: translateX(calc(-50vw));
  transition-delay: 0;
}

.wiggle-infinitely {
  /* transform: rotateZ(-12deg); */
  /* transition: 0.2s; */
  animation: wiggle 2s ease infinite forwards;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(-12deg);
  }
  /* 25% {
    transform: rotateZ(-15deg);
  } */
  50% {
    transform: rotateZ(12deg);
  }
  100% {
    transform: rotateZ(-12deg);
  }
}

.did-animate-flight-ticket {
  opacity: 1;
  transform: translateX(0) rotateZ(-12deg);
  -webkit-transform: translateX(0) rotateZ(-12deg);
}

.skill-images {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .skill-image-container {
    flex: 33.33%;
    position: relative;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0 auto;
    }
    @media only screen and (max-width: 700px) {
      flex: 100%;
      max-height: 200px;
    }
  }
}

#section-2 .skill-description {
  text-align: center;
  color: black;
  padding: 30px 0;
}

@-webkit-keyframes moveUp {
  0% {}
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {}
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* Larger than tablet */

@media only screen and (min-width: 700px) {
  #section-1-container .row {
    height: 100%;
  }
  #section-1 #profile-image img {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #profile-content>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }
}

#root-grid-container {
  max-width: 960px;
  margin: 0 auto;
}

#grid-section-container {
  overflow: hidden;
  max-height: 100vh;
  position: relative;
}

.base-grid-item {
  font-size: initial;
  box-sizing: border-box;
  position: relative;
  border-right: 1px dashed #000000;
  border-bottom: 1px dashed #000000;
}

#inner-grid {
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  max-height: 100vh; // background-color: blue;
  opacity: 0.5;
  z-index: 1;
}

.inner-base-grid-item {
  font-size: initial;
  box-sizing: border-box;
  position: relative;
  background-color: green;
  &:hover {
    background-color: blue;
  }
}